
.main-row{
  margin: 0px;
  display: flex;
}

.info-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.menu-data{
  padding: 1.5rem;
  border-style:none none outset none;
  border-color: #E6DDC6;
  border-width: thin;
}

.menu-data:hover{
  background-color: #867AE9;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #FDFAF6;
}

@media only screen and (min-width: 800px) {
  .menu-row{
    background-color: #11052C;
    width: 15.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .menu-row{
    background-color: #11052C;
    width: 0rem;
    height:0rem;
  }
}

.card_1{
  background-color: blue;
  width: 25rem;
  height: 18rem;
  position: relative;
  margin-top: 2rem;
  background-size: contain;
}

.card_1 .info{
  position: absolute;
  bottom:0px;
  width:25rem;
  height: 5rem;
  border-style:outset none none none;
  border-width: thin;
  border-color: white;
  color: #FEF7DC;
}
